@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-93kpo9');
	src:url('../../fonts/icomoon.eot?#iefix-93kpo9') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-93kpo9') format('woff'),
		url('../../fonts/icomoon.ttf?-93kpo9') format('truetype'),
		url('../../fonts/icomoon.svg?-93kpo9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-a-01:before {
	content: "\e600";
}
.icon-b-01:before {
	content: "\e601";
}
.icon-c-01:before {
	content: "\e602";
}
.icon-d-01:before {
	content: "\e603";
}
.icon-e-01:before {
	content: "\e604";
}
.icon-f-01:before {
	content: "\e605";
}
.icon-g-01:before {
	content: "\e606";
}
.icon-h-01:before {
	content: "\e607";
}
.icon-i-01:before {
	content: "\e608";
}
.icon-j-01:before {
	content: "\e609";
}
.icon-k-01:before {
	content: "\e60a";
}
.icon-l-01:before {
	content: "\e60b";
}
.icon-l-01-01:before {
	content: "\e60c";
}
.icon-m-01:before {
	content: "\e60d";
}
.icon-n-01:before {
	content: "\e60e";
}
.icon-o-01:before {
	content: "\e60f";
}
.icon-p-01:before {
	content: "\e610";
}
.icon-q-01:before {
	content: "\e611";
}
.icon-r-01:before {
	content: "\e612";
}
.icon-s-01:before {
	content: "\e613";
}
.icon-t-01:before {
	content: "\e614";
}
.icon-u-01:before {
	content: "\e615";
}
.icon-v-01:before {
	content: "\e616";
}
.icon-w-01:before {
	content: "\e617";
}
.icon-x-01:before {
	content: "\e618";
}
.icon-y-01:before {
	content: "\e619";
}
.icon-z-01:before {
	content: "\e61a";
}
.icon-z1-01:before {
	content: "\e61b";
}
.icon-z2-01:before {
	content: "\e61c";
}
.icon-z3-01:before {
	content: "\e61d";
}
.icon-z4-01:before {
	content: "\e61e";
}
.icon-z5-01:before {
	content: "\e61f";
}
.icon-z6-01:before {
	content: "\e620";
}
.icon-z7-01:before {
	content: "\e621";
}
.icon-z8-01:before {
	content: "\e622";
}
.icon-z9-01:before {
	content: "\e623";
}
.icon-z10-01:before {
	content: "\e624";
}
.icon-z11-01:before {
	content: "\e625";
}
.icon-z12-01:before {
	content: "\e626";
}
.icon-z13-01:before {
	content: "\e627";
}
.icon-z14-01:before {
	content: "\e628";
}
.icon-z15-01:before {
	content: "\e629";
}
.icon-z16-01:before {
	content: "\e62a";
}
.icon-z17-01:before {
	content: "\e62b";
}
