/* Define media queries */

$desktop-width-main     : 960px;
$desktop-width-side     : 250px;

$desktop-width          : $desktop-width-main + $desktop-width-side;


/*******************************/

/*          Colors            */

$green                  : rgb(0, 175, 185);
$lime-green             : rgb(151, 195, 14);
$black                  : black;
$opaque-black           : rgb(151, 151, 151);
$inverse-black          : #fff;

$alternative-1          : rgb(245, 115, 1);
$lime-alternative-1     : rgb(245, 115, 1);

$danger                 : red;
$warning                : gold;
$next                   : $lime-green;

/*******************************/

/* Define some variables */

/********** BASICS ************/
$background-color       : #fff;//url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
$background-table-color : rgb(247, 253, 253);

$basic-border           : 0.1rem;
$font-color             : $opaque-black;
$font-color-link        : $lime-green;
$font-color-inverse     : $inverse-black;
$font-color-title       : $black;
$font-color-icons       : $green;
$font-size-title        : 2rem;
$font-family            : 'Helvetica Neue', Helvetica, Arial, sans-serif;

/********** STYLE *************/

//$background-inner       : image-url("inner.jpg");
//$background-outter      : image-url("outter.jpg");

$border-radius          : 0.5rem;
$icon-list-bg           : black;

//$menu-width             : 250px!default;

//$footer-size            : 250px;

/********** GRID COMICS *********/

$grid-width             : 400px;
$padding-default        : 10px;
$interlineado           : 7px;
$padding-title          : 10px;


/********** SPECIAL INFO *********/

$color-info             : rgb(230, 250, 251);

/********** MIXING ***************/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

@mixin ellipsis-line($lines-to-show: 4, $font-size: 15px, $line-height: 1.4){
    margin: 0;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */

    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex-order($val){
    -webkit-box-ordinal-group: $val+1;
    -moz-box-ordinal-group: $val+1;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}