/********** BODY **************/

body{
    font-family: $font-family;
    color: $font-color;
    background: {
        image: $background-color;
        repeat: no-repeat;
        position: center center;
        attachment: fixed;
    };
    @include background-size(cover);
}

h1 , h2 {
    color: $font-color-title;
    text-transform: lowercase;
}

h1 {
    font-size: 2rem;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
    border:{
        bottom: 1px;
        style: solid;
    }
    padding: $interlineado;
    margin: {
        left: $interlineado;
        right: $interlineado;
    }
    //@extend .flipIn;
}

h2 {
    //font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;

    //@extend .no-select;
}

label{
    vertical-align: text-top;
    flex-grow: 1;
    color: $font-color-title;
    font-size: 11pt;
    //font-weight: bold;
}
a, summary{
    cursor: pointer;
}


/********** FORM CONTROLS **************/

.button, button{
    outline: none;

    border: 0px;
    @include border-radius(20px);
    color: $inverse-black;
    font-size: $font-size-title;
    padding: 20px 40px;
    font-weight: bold;
    cursor: pointer;
    margin: {
        top: $interlineado + $interlineado;
    }

    &.small{
        padding: 10px 5px;
        font-size: inherit;
    }
}

[type="checkbox"]{
    padding: 0;
    margin: 0;
    border: 0;
    //width: 25px;
}

.form{
    input[type=text], input[type=number], textarea, select {
        outline: none;
        border: 1px solid $opaque-black;
        @include border-radius($border-radius);
        padding: $padding-default;
        margin: $interlineado 0px;
        display: inline-block;
        width: available;
    }

    input[type=text]:focus,input[type=number]:focus, button:focus, textarea:focus {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;

        box-shadow: 0 0 5px $opaque-black;
        border: 1px solid $opaque-black;
    }
}