/********** MEDIA QUERIES **************/

main{

    @include flex-block;
    *{
        width: 100%;
    }
    .form1{
        margin: 0 auto;
        @include flex-order(2);
    }

    aside{
        @include flex-order(1);
        //background-color:#ddd;

        border:{
            width: $basic-border;
            style: solid;
            color: $font-color-icons;
        }
        //@include border-radius($border-radius);        
    }
}

.form{
    fieldset{
        border: 1px solid $border-color;
        //box-shadow: 0 0 0 1px black; // Outside black border 1px
        border-top: 0;
    }
    legend{
        width: auto;
        padding: $interlineado;
        margin-left: $interlineado;
        display: none;
    }
    .form-group{
        &:nth-child(2n+1){
            background: $background-table-color;
        }
        @include flex-block;
        flex-wrap: wrap;
        width: 100%;
        padding: $interlineado;

        *{
            width: 50%;
        }
        a{
            width: 100%;
            text-align: right;
            padding: $padding-default;
        }
        label{
            text-align: center;
            //border-bottom: 5px dotted #ccc;
        }
        [type="checkbox"]{
            padding: 0;
            margin: 0;
            border: 0;
            //width: 25px;
        }
    }
}

header{
    background: $header-bg;
    padding: $padding-title;
    border: 1px solid $border-color;
    @include flex-block;
    justify-content: space-between;
    h2{
        font-size: $font-size-title;
        @include inline-flex;
        align-items: center;
        font-weight: bold;
        color: $font-color-title;

        .list-item{
            background: $icon-list-bg;
            color: $font-color-inverse;
            width: auto;
            @include border-radius(100%);
            padding: 0px 10px;
            margin-right: $interlineado;
        }
    }
}