main{
    @include flex-block;
    align-items: flex-start;

    aside{
        border:{
            width: $basic-border;
            style: solid;
        }

        padding-bottom: $interlineado;

        .user-saved{
            .form-saved{
                margin: $interlineado;
                @include border-radius($border-radius);
                header{
                    @include border-radius($border-radius);
                }
                border:{
                    width: 1px;
                    style: solid;
                }
                section{
                    padding: $interlineado + $interlineado;
                }
            }
            
            
        }
        nav{
            text-align: right;
        }
        //@include border-radius($border-radius);        
    }
}

.form{
    fieldset{
        border: 1px solid rgba($opaque-black, 0.5);
        border-top: 0;
    }
    legend{
        width: auto;
        padding: $interlineado;
        margin-left: $interlineado;
        display: none;
    }
    .form-group{

        @include flex-block;
        flex-wrap: wrap;
        width: 100%;
        padding: $interlineado;

        *{
            width: 50%;
        }
        a{
            width: 100%;
            text-align: right;
            padding: $padding-default;
        }
        label{
            text-align: center;
            //border-bottom: 5px dotted #ccc;
        }
        [type="checkbox"]{
            padding: 0;
            margin: 0;
            border: 0;
            //width: 25px;
        }
    }
}

header{
    padding: $padding-title;
    border: 1px solid rgba($opaque-black, 0.5);
    @include flex-block;
    justify-content: space-between;
    h2{
        @include inline-flex;
        align-items: center;
        font-weight: bold;
        color: $font-color-title;

        .list-item{
            background: $icon-list-bg;
            color: $font-color-inverse;
            width: auto;
            @include border-radius(100%);
            padding: 0px 10px;
            margin-right: $interlineado;
        }
    }
}