/********** MEDIA QUERIES **************/

@media only screen and (min-width : $desktop-width) {
    main{
        //width: $desktop-width;
        //margin: 0 auto;
        margin: 50 auto;
        @include flex-block;
        *{
            width: 100%;
        }
        [name="form1"]{
            width: $desktop-width-main;
            margin: 0 auto;
            order: 2;
        }

        nav{
            position: fixed;
            left: 100%;
            top: 0%;
            transform: translate(-100%, 100%);
        }

    }
}

@media only screen and (max-width : $desktop-width) {
    [name="form1"]{
        order: 2;
    }
    nav{
        order: 1;
    }
}



main{
    nav{
        width: $desktop-width-side;
        ul{
            width: $desktop-width-side;
            background-color:#ddd;
        }
    }
}

[name="form1"]{
    @media only screen and (max-width : $desktop-width) {
        fieldset{
            border: 0;

        }
    }
    fieldset{
        border: 1px solid $border-color;
        //box-shadow: 0 0 0 1px black; // Outside black border 1px
        border-top: 0;
    }
    legend{
        width: auto;
        padding: $interlineado;
        margin-left: $interlineado;
        display: none;
    }
    .form-group{
        &:nth-child(2n+1){
            background: $background-table-color;
        }
        @include flex-block;
        flex-wrap: wrap;
        width: 100%;
        padding: $interlineado;

        *{
            width: 50%;
        }
        a{
            width: 100%;
            text-align: right;
            padding: $padding-default;
        }
        label{
            text-align: center;
            //border-bottom: 5px dotted #ccc;
        }
        [type="checkbox"]{
            padding: 0;
            margin: 0;
            border: 0;
            //width: 25px;
        }
    }
}

header{
    background: $header-bg;
    padding: $padding-title;
    border: 1px solid $border-color;
    @include flex-block;
    justify-content: space-between;
    h2{
        font-size: $font-size-title;
        @include inline-flex;
        align-items: center;
        font-weight: bold;
        color: $font-color-title;

        .list-item{
            background: $icon-list-bg;
            color: $font-color-inverse;
            width: auto;
            @include border-radius(100%);
            padding: 0px 10px;
            margin-right: $interlineado;
        }
    }
    @media only screen and (max-width : $desktop-width) {
        a{
            display: none;
        }
    }
}
