body {
    &{
        >h1{
            background: $green;
        }
        .form-group:nth-child(2n+1){
            background: rgba($green, 0.035);
        }
        input[type=text]:focus,input[type=number]:focus, button:focus, textarea:focus {
            border-color: $green;
            box-shadow: 0 0 5px $green;
        }
        header{
            background: rgba($green, .07);
        }
        asside{
            border:{
                color: $green;
            }
        }

        .button, button{
            background-color: $lime-green;
        }
    }
    &.orange{
        >h1{
            background: $alternative-1;
        }
        .form-group:nth-child(2n+1){
            background: rgba($alternative-1, 0.07);
        }
        input[type=text]:focus,input[type=number]:focus, button:focus, textarea:focus {
            border-color: $alternative-1;
            box-shadow: 0 0 5px $alternative-1;
        }
        header{
            background: rgba($alternative-1, .3);
        }
        .form1{
            .button, button{
                background-color: $lime-alternative-1;
            }
        }
    }
}

.button, button{
    &.danger{
        background-color: $danger;
    }
    &.warning{
        background-color: $warning;
    }
}